[submodule "bitloop"]
	path = bitloop
	url = https://github.com/willmh93/bitloop.git
	branch = main
[submodule "projects/Mandelbrot"]
	path = projects/Mandelbrot
	url = https://github.com/willmh93/bitloop-mandelbrot.git
